src/flows/AddContactToCallQueue-7.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apexPluginCalls>
        <name>AddContactToCallQueue</name>
        <label>Add Contact To Call Queue</label>
        <locationX>234</locationX>
        <locationY>75</locationY>
        <apexClass>AddContactToCallQueue</apexClass>
        <connector>
            <targetReference>VoiceIQ_Error</targetReference>
        </connector>
        <inputParameters>
            <name>contactId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>organisationId</name>
            <value>
                <elementReference>OrganisationId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userId</name>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>IsError</assignToReference>
            <name>isError</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ErrorMessage</assignToReference>
            <name>errorMessage</name>
        </outputParameters>
    </apexPluginCalls>
    <decisions>
        <name>VoiceIQ_Error</name>
        <label>VoiceIQ Error?</label>
        <locationX>233</locationX>
        <locationY>205</locationY>
        <defaultConnector>
            <targetReference>SuccessScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Has_Error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsError</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorScreen</targetReference>
            </connector>
            <label>Has Error</label>
        </rules>
    </decisions>
    <formulas>
        <name>OrganisationId</name>
        <dataType>String</dataType>
        <expression>{!$Organization.Id}</expression>
    </formulas>
    <formulas>
        <name>UserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>AddContactToCallQueue {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AddContactToCallQueue</label>
    <processType>Flow</processType>
    <screens>
        <name>ErrorScreen</name>
        <label>ErrorScreen</label>
        <locationX>233</locationX>
        <locationY>394</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Message</name>
            <fieldText>{!ErrorMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>SuccessScreen</name>
        <label>SuccessScreen</label>
        <locationX>558</locationX>
        <locationY>204</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>The contact has been added to your call queue.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>AddContactToCallQueue</startElementReference>
    <variables>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
