src/flows/AddSelectedContactsToCallQueue-7.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>AddContactsToCallQueue</name>
        <label>Add Contacts To Call Queue</label>
        <locationX>25</locationX>
        <locationY>23</locationY>
        <actionName>AddContactsToCallQueue</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>CheckForError</targetReference>
        </connector>
        <inputParameters>
            <name>contacts</name>
            <value>
                <elementReference>contacts</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userId</name>
            <value>
                <elementReference>userId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>errorDetails</assignToReference>
            <name>details</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>errorCode</assignToReference>
            <name>errorCode</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>errorTitle</assignToReference>
            <name>title</name>
        </outputParameters>
    </actionCalls>
    <decisions>
        <name>CheckForError</name>
        <label>Check For Error</label>
        <locationX>25</locationX>
        <locationY>162</locationY>
        <defaultConnector>
            <targetReference>Success</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Success</defaultConnectorLabel>
        <rules>
            <name>ErrorOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>errorDetails</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error</targetReference>
            </connector>
            <label>Error</label>
        </rules>
    </decisions>
    <interviewLabel>Add Selected Contacts To Call Queue {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Selected Contacts To Call Queue</label>
    <processType>Flow</processType>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>25</locationX>
        <locationY>319</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>errorTitleOutput</name>
            <fieldText>Error Title: {!errorTitle}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>errorCodeOutput</name>
            <fieldText>Error Code: {!errorCode}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>errorDetailsOutput</name>
            <fieldText>Error Details: {!errorDetails}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>296</locationX>
        <locationY>159</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>contactsAddedOutput</name>
            <fieldText>Selected contacts were added to the call queue.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>AddContactsToCallQueue</startElementReference>
    <variables>
        <name>contacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>errorCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>errorDetails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>errorTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>userId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
